body{
    margin: 0px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color:#fff;
}
.header { 
    min-width: 1110px;
    background: url("../images/bgc.png")  no-repeat center / cover;
    background-size: cover;
    height: 900px;
    padding-top: 30px;
    padding-bottom: 19.5px;
}
.head-bar{
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    margin: 0 auto;
    color:#fff;
}

.header-info {
    display: flex;
    justify-content: space-between;
}

.header-info a {

}
.header-nav ul{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding-inline-start: 0px;

}
.header-li {
    list-style: none;
    padding-top: 11.5px;
    padding-bottom: 14.5px;
}
/*бордеры в меню между строк


.header-ul li:nth-child(-n+3){
    border-right: 1px solid #fff;
}
*/
.header-button{
    display: flex;
    width: 415px;
    height: 50px;
    margin: 700px auto;
    justify-content: space-evenly;
}

input{
    border: 0px;
    padding: 15px 30px;
    background-color: rgb(153, 134, 42);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    min-width: 1110px;
    height: 100%;
    width: 100%;
}

.best-taste{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(40, 40, 40);
    height: 856px;
}

.block-info-taste {
    width: 1110px;
    height: 656px;
    border: 2px solid rgb(255, 255, 255);
    margin: 0 auto;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.block-info-taste p{
    width: 733px;
    height: 192px;
}

.block-info-taste hr{
    width: 160px;
}

.block-info-taste img {
    height: 160px;
    width: 160px;
}


.new-collection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(230, 227, 196);
    height: 1038px;
}

.new-collection img{
    height: 500px;
    width: 540px;
}

.new-collection>hr{
    background-color: rgb(153, 132, 49);
    height: 1px;
    width: 1110px;
    border: 0px;
}


.info-block-collection-block {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 60px auto;
    width: 1100px;
    height: 758px;
}

.info-block-collection>hr{
    width: 160px;
    background-color: rgb(40, 40, 40);
    height: 1px;
    border: 0px;
    margin: 0px;
    margin-bottom: 30px;
}
.info-block-collection>h2{
    width: 319px;
    height: 108px;
    line-height: 1.5;
}

.info-block-collection>h3{
    margin: 0px 0px 29px 0px;
}

.info-block-collection>p{
    margin-bottom: 30px;
}
.txt-inf{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 758px;
    width: 448px;
}
.txt-inf input{
    width: 254px;
}
.info-block-collection table{
    width: 445px;
    border: 4px solid rgb(230, 227, 196);
    border-collapse: collapse;
}
.info-block-collection td{
    border: 1px solid rgb(40, 40, 40);
}
.info-block-collection td:nth-child(2n){
    padding-left: 24.5px;
}
.info-block-collection td:nth-child(odd){
    padding: 26px 24.5px 25px 19px;
}

.images-block{
    display: grid;
    grid-template-columns: 540px;
    grid-template-rows: 500px 228px;
}
.images-block-mini{
    display: flex;
    justify-content: space-between;
}
.images-block-mini img{
    margin-top: 30px;
    height: 228px;
    width: 255px;
}

.record-tasting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 767px;
    padding-top: 120px;
    background-color: rgb(40, 40, 40);
}

.record-info-sab-block {
    position: relative;
    display: flex;
    max-width: 1110px;
    margin: 0 auto;
    height: 607px;
    width: 1193px;
    color: #fff;
}

.record-input-name, .record-input-tel, .record-input-adress  {
    background: transparent;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 40px;
    width: 255px;
    text-transform: none;
    
}

.record-input-name::placeholder, .record-input-tel::placeholder, .record-input-adress::placeholder  {
    color:#fff
}
.record-input-tel {
    margin-left: 25px;
}
.record-input-adress{
    width: 100%;
}

.record-input-btn{
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    width: 100%;
}

.record-info-sab { 
    text-align: center;
}

.title-record{
    position: absolute;
    top:-45px;
    left: 34%;
    padding: 10px 50px;
    background-color:rgb(40, 40, 40) ;
}
.info-record{
    text-align: center;
    width: 539px;
    height: 72px;
    margin-bottom: 81px;
    font-size: 20px;
}
.record-form-sab{
    position: relative;
    padding: 105px 285px 80px;
    border: 3px solid rgb(196, 196, 196);
}
.record-line{
    width: 118px;
    margin-bottom: 40px;
}

.record-img1{
    position: absolute;
    top: -10%;
}
.record-img2{
    position: absolute;
    top: -10%;
    left: 82%;
}



.footer-block{ 
    display: flex;
    justify-content: center;
    height: 220px;
    background-color: rgb(153, 132, 49);
    text-align: center;
    text-transform: uppercase
}

.footer-block-info{
}

.footer-nav {
    display: flex;
    justify-content: center;
}

.footer-ul{
    display: flex;
    list-style: none;
    padding: 19.5px;
    width: 1100px;
    justify-content: space-evenly;
    border-top: 1px solid rgb(255, 255, 255);
}

.footer-block-social {
    display: flex;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #fff
}
.footer-block-social>* {
    padding: 1.125em 4em;
}

.footer-block-social-block{
    padding: 19.5px 55px;
    height: 16px;
    display: flex;
    height: 16px;
    width: 200px;
    justify-content: space-evenly;;
    gap: 2.5em;
}

.footer-block-social>*+*{
    border-left: 1px solid #fff;
}

@media screen and (max-width:1280px) {
   
    .record-img1,.record-img2 {
        display: none;
    }    
}